<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>有趣的游戏</title>
    <link rel="stylesheet" href="css/four_page.css">
    <link rel="stylesheet" type="text/css" href="sourse/normalize.css"><!--排印-->
    <link rel="stylesheet" href="sourse/font_1496948_xwjlv6h5tz/iconfont.css"><!--图标字体-->
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0, maximum-scale=1.0, user-scalable=no"><!--响应式布局-->
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
</head>
<body>
    <div class="sidenov"><!--侧边栏-->
        <span style="font-size:30px; cursor:pointer" onclick="openNav()" class="dakai">&#9776;</span>
        <div id="leftside">
            <div id="side" >
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="color: #000000">&times;</a>
                <ul class="myside">
                    <li><a href="first_page.html">首页</a></li>
                    <li><a class="btn btn-default" href="fun_game.html" role="button">有趣的游戏</a></li>
                    <li><a class="btn btn-default" href="useful_tools.html" role="button">实用的工具</a></li>
                    <li><a class="btn btn-default" href="boring_page.html" role="button">无聊的网页</a></li>
                    <li><a class="btn btn-default" href="shocking_web.html" role="button">震撼的网页</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="nov"><!--导航栏-->
        <ul>
            <li class="nov_left"><a href="first_page.html">首页</a></li>
            <li class="nov_right"><a href="#"><i class="iconfont icongerenzhongxin"></i> 个人中心</a></li>
            <li class="nov_right"><a href="index.html">登陆</a></li>
        </ul>
    </div>
    <div class="main-body" id="app1"><!--总体-->
        <div class="Sidebar"><!--侧边栏-->
            <h3>热门</h3>
            <ul class="hot">
                <li v-for="hot in hot"><a v-bind:href="hot.link">{{hot.tit}}</a></li>
            </ul>
        </div>
        <div class="content"><!--主要内容-->
            <div class="content_top"><!--头部-->
                <form action="#">
                    <input type="text" name="sosuo" class="sousuo">
                    <a href="#"><i class="iconfont iconRectangleCopy"></i></a>&nbsp<a href="#"><input type="submit" name="so" value="搜索"></a>
                </form>
                <h2>有趣的小游戏推荐</h2>
                <div class="recommend"  id="app2" >
                    <div class="recomend_img" v-for="pic in pic">
                        <a v-bind:href=pic.hre><img v-bind:src=pic.img alt="图片" ></a>
                        <span class="tit">{{pic.tit}}<p>{{pic.recon}}</p></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="content_buttom"><!--底部-->
            <p>制作人：msh</p>
            <p>来源:网络</p>
        </div>
    </div>
</body>
<script src="sourse/vue.js"></script>
<script src="js/fun_game.js"></script>
</html>