<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>实用的工具</title>
    <link rel="stylesheet" href="css/funning.css">
    <link rel="stylesheet" type="text/css" href="sourse/normalize.css"><!--排印-->
    <link rel="stylesheet" href="sourse/font_1496948_xwjlv6h5tz/iconfont.css"><!--图标字体-->
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0, maximum-scale=1.0, user-scalable=no"><!--响应式布局-->
</head>
<body>
<div class="sidenov"><!--侧边栏-->
    <span style="font-size:30px; cursor:pointer" onclick="openNav()" class="dakai">&#9776;</span>
    <div id="leftside">
        <div id="side" >
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="color: white">&times;</a>
            <ul class="myside">
                <li><a href="index.html">首页</a></li>
                <li><a class="btn btn-default" href="fun_game.html" role="button">有趣的游戏</a></li>
                <li><a class="btn btn-default" href="Useful_tools.html" role="button">实用的工具</a></li>
                <li><a class="btn btn-default" href="boring.html" role="button">无聊的网页</a></li>
                <li><a class="btn btn-default" href="Shocking_web.html" role="button">震撼的网页</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="nov"><!--导航栏-->
    <ul>
        <li class="nov_left"><a href="index.html">首页</a></li>
        <li class="nov_right"><a href="#"><i class="iconfont icongerenzhongxin"></i> 个人中心</a></li>
        <li class="nov_right"><a href="login.html">登陆</a></li>
    </ul>
</div>
<div class="main-body"><!--总体-->
    <div class="Sidebar"><!--侧边栏-->
        <h3>热门</h3>
        <ul class="hot" id="app1">
            <li v-for="hot in hot"><a v-bind:href="hot.link">{{hot.tit}}</a></li>
        </ul>
    </div>
    <div class="content"><!--主要内容-->
        <div class="content_top"><!--头部-->
            <form action="#">
                <input type="text" name="sosuo" class="sousuo">
                <a href="#"><i class="iconfont iconRectangleCopy"></i></a>&nbsp<a href="#"><input type="submit" name="so" value="搜索"></a>
            </form>
            <h2>实用的工具推荐</h2>
            <div class="recommend"  id="app2" >
                <div class="recomend_img" v-for="pic in pic">
                    <a v-bind:href=pic.hre><img v-bind:src=pic.img alt="图片" ></a>
                    <span class="tit">{{pic.tit}}<p>{{pic.recon}}</p></span>
                </div>
            </div>
        </div>

    </div>
    <div class="content_buttom"><!--底部-->
        <p>制作人：卯升获</p>
        <p>来源:网络</p>
    </div>
</div>
</body>
<script src="sourse/vue.js"></script>
<script>
    let vn=new Vue({
        el:'#app2',
        data:{
            pic:[
                {
                    hre:"https://cantunsee.space/",
                    img:"img/useful_001.png",
                    tit:"cantunsee",
                    recon:"它可以在线练习对手机UI界面设计中细节的把握，通过对两个类似设计的选择，选出正确的设计并得分"
                },
                {
                    hre:"http://www.yingjingtu.com/index",
                    img:"img/useful_011.ico",
                    tit:"应景图",
                    recon:"给gif添加字幕"
                },
                {
                    hre:"https://10minutemail.com/10MinuteMail/index.html",
                    img:"img/useful_030.png",
                    tit:"10MinuteMail",
                    recon:"10分钟邮箱，专注注册垃圾网站"
                },
                {
                    hre:"http://tool.mkblog.cn/",
                    img:"img/useful_021.ico",
                    tit:"孟坤工具箱网页版",
                    recon:"程序猿攻城狮的好伙伴"
                },
                {
                    hre:"http://www.websiteasteroids.com",
                    img:"img/useful_008.png",
                    tit:"网页空战",
                    recon:"它可以让你在任何网页上玩空战小游戏。可以打掉广告"
                },
                {
                    hre:"https://haveibeenpwned.com/",
                    img:"img/useful_066.ico",
                    tit:"密码泄露查询工具",
                    recon:"在这个网页中，我们可以查看到自己的账号密码是否被泄露。只需要输入你常用的邮箱或者用户名，就能查询到密码有没有被泄露."
                },
                {
                    hre:"https://smallpdf.com/cn",
                    img:"img/useful_004.png",
                    tit:"Small PDF",
                    recon:"可能是最好的在线文件转换器"
                },
                {
                    hre:"https://www.apowersoft.cn/",
                    img:"img/useful_028.svg",
                    tit:" apowersoft ",
                    recon:"好的音频视频在线管理工具。"
                },
                {
                    hre:"https://www.creativelive.com/",
                    img:"img/useful_239.png",
                    tit:"Creativelive",
                    recon:"国外在线教育网站"
                },
                {
                    hre:"https://www.gaoding.com/",
                    img:"img/boring_31.ico",
                    tit:"稿定抠图",
                    recon:"在线抠图、证件照换背景"
                },
                {
                    hre:"https://yijiangaitu.com/",
                    img:"img/useful_004.ico",
                    tit:"一键改图",
                    recon:"图像基础处理"
                },
                {
                    hre:"https://photofunia.com/",
                    img:"img/useful_295.ico",
                    tit:"Photofunia",
                    recon:"趣味图片换脸及图片制作"
                },
                {
                    hre:"https://www.soogif.com/",
                    img:"img/useful_122.ico",
                    tit:"SOOGIF",
                    recon:"多图合成GIF动图制作及编辑"
                },
                {
                    hre:"https://ringer.org/",
                    img:"img/useful_215.png",
                    tit:"Ringer",
                    recon:"在线铃声制作"
                },
                {
                    hre:"https://www.apowersoft.cn/free-online-screen-recorder",
                    img:"img/useful_012.svg",
                    tit:"Apowersoft",
                    recon:"在线录屏"
                }
            ]
        }
    })
</script>
<script>
    let vn1=new Vue({
        el:'#app1',
        data:{
            hot:[
                {
                    link:"http://nazo.one-story.cn/",
                    tit:"1.Nazo Game"
                },
                {
                    link:"http://nazo.one-story.cn/",
                    tit:"2.Nazo Game"
                },
                {
                    link:"http://nazo.one-story.cn/",
                    tit:"3.Nazo Game"
                },
                {
                    link:"http://nazo.one-story.cn/",
                    tit:"4.Nazo Game"
                },
                {
                    link:"http://nazo.one-story.cn/",
                    tit:"5.Nazo Game"
                },
                {
                    link:"http://nazo.one-story.cn/",
                    tit:"6.Nazo Game"
                },
                {
                    link:"http://nazo.one-story.cn/",
                    tit:"7.Nazo Game"
                },
                {
                    link:"http://nazo.one-story.cn/",
                    tit:"8.Nazo Game"
                },
                {
                    link:"http://nazo.one-story.cn/",
                    tit:"9.Nazo Game"
                },
                {
                    link:"http://nazo.one-story.cn/",
                    tit:"10.Nazo Game"
                },



            ]
        }
    })
</script>
<script>
    function closeNav(){
        document.getElementById("side").style.display = "none";
    }
    function openNav(){
        document.getElementById("side").style.display = "block";

    }
</script>
</html>